<div>
    <nav class="navbar-one flex">
       
        <div class="left flex">
            <div class="side-nav-button p-2 me=-3 text-dark">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="email">
                <i class="fa fa-user-circle" aria-hidden="true" style="color: #7255CB;"></i>
                <span style="font-weight: 1;"> iamneo.ai Talent Center</span>
            </div>
        </div>
        <div class="right flex">
            <form class="d-flex me-3">
                <i class="fa fa-search" aria-hidden="true" style="color: #7a7a7a;padding:10px;"></i>
                <input class="form-control me-2"  style="width:150px;height:30px;" type="search" placeholder="  Search...">
                <button class="btn " style="background-color: #24486b;color:rgb(248, 254, 255);width:100px;height: 25px;font-weight:1;" type="submit"> + Add New</button>
            </form>
            <div class="gift">
                <i class="fa-solid fa-gift" aria-hidden="true" ></i>
            </div>
            <div class="question" >
                <i class="fa-regular fa-question-circle" aria-hidden="true"></i>
            </div>
        </div>
        <div class ="profile-logo dropstart " >
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown">
             <img  style="height:20px;width:20px;" src="https://cdn-icons-png.flaticon.com/128/3666/3666227.png" >
            </button>
            <ul class="dropdown-menu dropdown-menu-light">
             <li><a href="#" class="dropdown-item"></a></li>
         </ul>
 
         </div>    </nav>

    <nav class="navbar-second flex" >
        
        <div class="left flex">
            
            <div class="email">
                <i class="fa-solid fa-briefcase" aria-hidden="true"></i>
                <span style="font-weight: 10;"> Jobs >  </span>
            </div>
            <div class="logo">
                <h4 style="font-weight:5;position:sticky;justify-items: center; font-size: medium;">Full-Stack Developer</h4>
            </div>
            <form>
                <button class="btn " style="background-color: #eaeaea;color:rgb(107, 107, 107);width:150px;height: 25px;font-weight:1;" type="submit"> View Job Details</button>
            </form>
        </div>
    <div class="right flex">
        <div class="navbar-collapse" >
            <ul class="navbar-nav me-auto" style="background-color: #ffffff;width: 170px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                    data-bs-toggle="dropdown"> Add Candidate
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light">
                        <li><a class="dropdown-item" style="font: weight 1;" href="addnewcomponent">New </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
        <form>
            
            <button class="btn " style="background-color: #24486b;color:rgb(248, 254, 255);width:100px;height: 25px;font-weight:1;" type="submit">
                <i class="fa-solid fa-globe" aria-hidden="true"></i>
                Published</button>
            
        </form>
    

        
      
    </nav>
    

        

    
      
    <section me-50 >


       








</section>
    
</div>